<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="badge badge-form-no">7/11</div>
		<h3 class="text-center">7. Trabajo/Ocupación</h3>		

		<div ng-include src="navigationTemplate"></div>

		<div class="row">
			<div class="col-md-6">
				<div class="text-left ifield">
					<span for="familia" class="flabel">Familia:</span>
					<span>{{familia.nombreFamilia}} {{familia.direccion}}</span>
				</div>
			</div>

			<div class="col-md-6">
				<div class="text-right ifield">
					<div for="inputFecha" class="flabel">Fecha:</div>
					<span>{{diagnostico.version | date:'dd/MM/yyyy'}}</span> 
				</div>
			</div>
		</div>

		<error-zone ng-model="errors"></error-zone>

		<p><strong>Instrucciones:</strong> Señale la situación o situaciones (si aplica más de una) que más se ajusta a la persona.</p>

		<form>
			<table class="form-table">
				<thead>
					<th class="col-md-9">Pregunta</th>
					<th class="col-md-3">Valoración</th>						
				</thead>
				<tbody>
					<tr>
						<td class="form-question">
							1. Trabajo adecuado.
						</td>
						<td class="form-qinput" ng-class="{'resp-ok': form.q[0]==true}">
							<input ng-show="!readonly" type="checkbox" class="check-big" ng-model="form.q[0]"/>
							<span ng-show="readonly && form.q[0]">&cross;</span>
						</td>
					</tr>
					<tr>
						<td class="form-question">
							2. Abandono del mercado de trabajo por:
							<ul>
								<li>Jubilación, excepto prensiones asistenciales y no contributivas.</li>
								<li>Incapacidad temporal, total.</li>
								<li>Pre-jubilación.</li>
							</ul>
						</td>
						<td class="form-qinput" ng-class="{'resp-ok': form.q[1]==true}">
							<input ng-show="!readonly" type="checkbox" class="check-big" ng-model="form.q[1]"/>
							<span ng-show="readonly && form.q[1]">&cross;</span>
						</td>
					</tr>
					<tr>
						<td class="form-question">
							3. Dificultades de adaptación en el empleo:
							<ul>
								<li>Cambio de puesto de trabajo</li>
								<li>Trabajo inferior a su categoría profesional</li>
								<li>Discriminación salarial</li>
								<li>Trabajo de riesgo</li>
							</ul>
						</td>
						<td class="form-qinput" ng-class="{'resp-ok': form.q[2]==true}">
							<input ng-show="!readonly" type="checkbox" class="check-big" ng-model="form.q[2]"/>
							<span ng-show="readonly && form.q[2]">&cross;</span>
						</td>
					</tr>
					<tr>
						<td class="form-question">
							4. Trabajo sumergido:
							<ul>
								<li>Trabajo Autónomo sin legalizar</li>
								<li>Ocupación por cuenta ajena sin contrato</li>
							</ul>
						</td>
						<td class="form-qinput" ng-class="{'resp-warning': form.q[3]==true}">
							<input ng-show="!readonly" type="checkbox" class="check-big" ng-model="form.q[3]"/>
							<span ng-show="readonly && form.q[3]">&cross;</span>
						</td>
					</tr>
					<tr>
						<td class="form-question">
							5. Exclusión del mercado laboral:
							<ul>
								<li>Tiene formación adecuada pero no empleo</li>
								<li>No tiene calificación adecuada al mercado laboral</li>
								<li>Dificultades de inserción laboral por sexismo, racismo, edad o características especiales</li>
								<li>Obligaciones familiares insustituibles</li>
							</ul>
						</td>
						<td class="form-qinput" ng-class="{'problema': form.q[4]==true}">
							<input ng-show="!readonly" type="checkbox" class="check-big" ng-model="form.q[4]"/>
							<span ng-show="readonly && form.q[4]">&cross;</span>
						</td>
					</tr>
					<tr>
						<td class="form-question">
							6. Exclusión de larga duración (más de 1 año):
							<ul>
								<li>Tienen formación adecuada pero no empleo</li>
								<li>No tienen calificación adecuada al mercado laboral</li>
								<li>Dificultades de inserción laboral por sexismo, racismo, edad ó características especiales</li>
								<li>Obligaciones familiares insustituibles</li>
							</ul>
						</td>
						<td class="form-qinput" ng-class="{'problema': form.q[5]==true}">
							<input ng-show="!readonly" type="checkbox" class="check-big" ng-model="form.q[5]"/>
							<span ng-show="readonly && form.q[5]">&cross;</span>
						</td>
					</tr>
					<tr>
						<td class="form-question">
							7. Ocupación sumergida ilegal
						</td>
						<td class="form-qinput" ng-class="{'problema': form.q[6]==true}">
							<input ng-show="!readonly" type="checkbox" class="check-big" ng-model="form.q[6]"/>
							<span ng-show="readonly && form.q[6]">&cross;</span>
						</td>
					</tr>
					
				</tbody>
				<tfoot>
					<tr>
						<td class="form-summary">Valoración:</td>
						<td class="form-qinput-summary text-center">
							<valoracion-display ng-model="form.valoracion"/>
						</td>
					</tr>
				</tfoot>
			</table>
		</form>

		<div class="panel panel-default leyenda">
			<div class="panel-heading" ng-click="showLeyend=!showLeyend">Leyenda <span class="pull-right glyphicon glyphicon-asterisk"></span></div>
			<div class="panel-body" ng-class="{'leyend-expanded': showLeyend, 'leyend-collapsed': !showLeyend}">
				<p>Señale la situación que mas se ajuste a la persona.</p>
		    	<dl>
		    		<dt class="leyenda-green"><valoracion-display ng-model="leyenda.a"/></dt>
		    		<dd>Indicador 1<sup>o</sup>, 2<sup>o</sup> o 3<sup>o</sup>.</dd>
		    		<dt class="leyenda-orange"><valoracion-display ng-model="leyenda.d"/></dt>
		    		<dd>4<sup>o</sup> indicador.</dd>
		    		<dt class="leyenda-red"><valoracion-display ng-model="leyenda.md"/></dt>
		    		<dd>5<sup>o</sup>, 6<sup>o</sup> y/o 7<sup>o</sup> indicador.</dd>
		    	</dl>
			</div>
		</div>

		<div ng-include src="navigationTemplate"></div>

	</div>
	<div class="col-md-2"></div>
</div>
