<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">Eliminar Plan Asistencial</h3>
			<fieldset ng-show="dataReceived">

				<div class="form-group">
					<label for="inputCodigo">Código</label>
					<input id="inputCodigo" type="text" class="form-control" placeholder="Codigo" ng-model="planAsistencial.codigo" readonly />
				</div>

				<div class="form-group">
					<label for="inputDomicilioFamiliar">Domicilio familiar</label>
					<input id="inputDomicilioFamiliar" type="text" class="form-control" placeholder="DomicilioFamiliar" ng-model="planAsistencial.domicilioFamiliar" readonly />
				</div>

				<div class="form-group">
					<label for="inputNombre">Nombre</label>
					<input id="inputNombre" type="text" class="form-control" placeholder="Nombre" ng-model="planAsistencial.nombre" readonly />
				</div>

				<div class="form-group">
					<label for="inputApellido1">1<sup>er</sup> apellido</label>
					<input id="inputApellido1" type="text" class="form-control" placeholder="Apellido1" ng-model="planAsistencial.apellido1" readonly />
				</div>

				<div class="form-group">
					<label for="inputApellido2">2º apellido</label>
					<input id="inputApellido2" type="text" class="form-control" placeholder="Apellido2" ng-model="planAsistencial.apellido2" readonly />
				</div>

				<div class="form-group">
					<label for="inputFechaSolicitud">Fecha de solicitud</label>
					<date-selector id="inputFechaSolicitud" 
					               placeholder="FechaSolicitud" 
				                   value="planAsistencial.fechaSolicitud"
					               opts=" readonly" /> 
				</div>

				<div class="form-group">
					<label for="inputFechaApertura">Fecha de apertura</label>
					<date-selector id="inputFechaApertura" 
					               placeholder="FechaApertura" 
				                   value="planAsistencial.fechaApertura"
					               opts=" readonly" /> 
				</div>

				<div class="form-group">
					<label for="inputProfesionalReferencia">Profesional de Referencia</label>
					<input id="inputProfesionalReferencia" type="text" class="form-control" placeholder="ProfesionalReferencia" ng-model="planAsistencial.profesionalReferencia" readonly />
				</div>

				<div class="form-group">
					<button class="btn btn-danger" ng-click="delete($event)" ng-disabled="editForm.$invalid" >Eliminar</button>
					<button class="btn" ng-click="cancel($event)" >Cancelar</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
