<div class="row">
	<h3 class="text-center">Informes</h3>

	<div class="col-md-4">
		<p>			
			Por prestación de servicios:
		</p>
		<ul class="nav nav-pills nav-stacked">	
			<li><a class="entryMenu" href="/informes/sample1">Violencia de genero</a></li>
			<li><a class="entryMenu" href="/informes/sample2">Ludopatía</a></li>
			<li><a class="entryMenu" href="/informes/sample3">Dependencia</a></li>
		</ul>
		<br/>
		<br/>
		
	</div>
	<div class="col-md-4">	

		<p>			
			Geográficos:
		</p>
		<ul class="nav nav-pills nav-stacked">	
			<li><a class="entryMenu" href="/informes/geo/mapa1">Ludopatía: Incidencia geográfica</a></li>
			<li><a class="entryMenu" href="/informes/geo/mapa2">Drogadición: Incidencia geográfica</a></li>
		</ul>
	</div>
	<div class="col-md-4">
		
		<p>			
			Previsión de necesidades:
		</p>
		<ul class="nav nav-pills nav-stacked">	
			<li><a class="entryMenu" href="/informes/prev1">Previsión Ludopatía</a></li>
			<li><a class="entryMenu" href="/informes/prev2">Previsión Drogadición</a></li>
			<li><a class="entryMenu" href="/informes/prev3">Previsión Dependencia</a></li>
		</ul>


	</div>
</div>
