<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h1>Historial Social Unico</h1>
		<p>
			Prueba de concepto: Historial Social Único, por Ayesa.
			Backend de administración.
		</p>
		<p>			
			Opciones disponibles:
		</p>
		<ul class="nav nav-pills nav-stacked">	
			<li><a class="entryMenu" href="#/dashboard">Página de inicio</a></li>
			<li><a class="entryMenu" href="#/staticData/">Datos Maestros</a></li>
			<li><a class="entryMenu" href="#/localidad/">Localidades</a></li>
			<li><a class="entryMenu" href="#/municipio/">Municipios</a></li>
			<li><a class="entryMenu" href="#/entidad/list">Entidades</a></li>
			<li><a class="entryMenu" href="#/recurso/list">Recursos</a></li>
			<li><a class="entryMenu" href="#/profesional/list">Profesionales</a></li>
			<li><a class="entryMenu" href="#/usuario/list">Usuarios</a></li>
			<li><a class="entryMenu" href="#/miembro/list">Miembros</a></li>
			<li><a class="entryMenu" href="#/planAsistencial/list">Planes Asistenciales</a></li>
            <li><a class="entryMenu" href="#/geoPoint/list">GeoPoints</a></li>
			<li><a class="entryMenu" href="#/servicio/list">Servicios</a></li>
			<li><a class="entryMenu" href="#/familias/">Familias</a></li>
		</ul>
		<br/>
		<p>
			Documentacion del API: <a class="" href="/api/documentation" target="_blank" >en crudo</a> o vía <a class="" href="http://apiexplorer.radarconline.com/?uri={{serviceUriBase}}/api/documentation&apiKey=hsu01" target="_blank">API Explorer</a>.
		</p>
	</div>
	<div class="col-md-4"></div>
</div>
