<div class="{{class}}">
	<div class="searchZone">
		<input id="searchTextbox" 
			   type="string" 
			   ng-model="innerSearchText" 
			   ng-change="typedTextSearch()" 
			   placeholder="criterio de selección" 
			   />
		<div class="searchIndicators">
			<span ng-show="searchContext.isUserIsTyping" class="glyphicon glyphicon-pencil"></span>
			<span ng-show="searchContext.isSearching"    class="glyphicon glyphicon-flash"></span>
		</div>
		<button class="btn btn-sm" 
				ng-click="clearSearch()" 
				ng-hide="searchContext.searchText == '' || searchContext.searchText == null">
			Limpiar
		</button>
	</div>
	<div class="foundZone">
		<span ng-show="searchContext.totalItems===0">Sin elementos encontrados.</span>
		<span ng-show="searchContext.totalItems===1">Un encontrado.</span>
		<span ng-show="searchContext.totalItems > 1">{{searchContext.totalItems | number}} encontrados.</span>
	</div>
</div>