<div class="row">
	<div class="col-md-12">
	
		<table id="caption" class="table">
			<tr>
				<td class="text-left">
				</td>
				<td class="text-center">
					<h3><span>Seleccione una localidad</span></h3>
				</td>
				<td class="text-right">
				  <a class="iconBig" href ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
				</td>
			</tr>
		</table>

		<div class="upperTableZone">
			<search-tool class="inline-table"
						 ng-model="searchContext"
						 search="refresh"
						 >
			</search-tool>
		</div>

		<table id="itemList" class="data-tabe table table-hover table-striped table-condensed" ng-show="dataReceived">
			<thead>
				<th>
				</th>	
				<th>Código</th>
				<th>Etiqueta</th>
				<th>Descripción</th>
				
			
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat="row in dataList">
					<td><a href ng-click="select(row)"><span class="glyphicon glyphicon-search" tooltip="Seleccionar"></a></td>		
					<td class="data"><a ng-click="edit(row)">{{row.key}}</a></td>
					<td class="data">{{row.label}}</td>
					<td class="data">{{row.description}}</td>
					
					<td><a href ng-click="select(row)"><span class="glyphicon glyphicon-search" tooltip="Seleccionar"></a></td>
				</tr>
			</tbody>
		</table>			
		
		<div ng-show="dataReceived" class="text-center">
			<!--<div style="display: inline; vertical-align: middle;">
				<label for="pageSize">Page Size: </label>
				<select id="pageSize" data-ng-model="pageSize">
					<option>10</option>
					<option>20</option>
					<option>50</option>
					<option>100</option>
				</select>
			</div> -->
			<div>
				<pagination max-size="10" boundary-links="true" 
				            total-items="totalItems" items-per-page="pageSize" data-ng-model="currentPage" 
							data-ng-change="loadCurrentPage()"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
				</pagination>
			</div>
		</div>			
		<div ng-show="!dataReceived" class="loader">
			<img src="images/loader.gif" alt="Loading..." />
		</div>

	</div>
</div>
