<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">Eliminar Servicio</h3>
			<fieldset ng-show="dataReceived">

				<div class="form-group">
					<label for="inputCodigo">Codigo</label>
					<input id="inputCodigo" type="text" class="form-control" placeholder="Codigo" ng-model="servicio.codigo" readonly />
				</div>

				<div class="form-group">
					<label for="inputDescripcion">Descripcion</label>
					<input id="inputDescripcion" type="text" class="form-control" placeholder="Descripcion" ng-model="servicio.descripcion" readonly />
				</div>

				<div class="form-group">
					<label for="inputColectivo">Colectivo</label>
					<input id="inputColectivo" type="text" class="form-control" placeholder="Colectivo" ng-model="servicio.colectivo" readonly />
				</div>

				<div class="form-group">
					<label for="inputCaracteristicas">Caracteristicas</label>
					<input id="inputCaracteristicas" type="text" class="form-control" placeholder="Caracteristicas" ng-model="servicio.caracteristicas" readonly />
				</div>

				<div class="form-group">
					<label for="inputSolicitudDocumentacion">SolicitudDocumentacion</label>
					<input id="inputSolicitudDocumentacion" type="text" class="form-control" placeholder="SolicitudDocumentacion" ng-model="servicio.solicitudDocumentacion" readonly />
				</div>

				<div class="form-group">
					<label for="inputPlazoInicio">PlazoInicio</label>
					<date-selector id="inputPlazoInicio" 
					               placeholder="PlazoInicio" 
				                   value="servicio.plazoInicio"
					               opts=" readonly" /> 
				</div>

				<div class="form-group">
					<label for="inputPlazoFin">PlazoFin</label>
					<date-selector id="inputPlazoFin" 
					               placeholder="PlazoFin" 
				                   value="servicio.plazoFin"
					               opts=" readonly" /> 
				</div>

				<div class="form-group">
					<label for="inputLugarDePresentacion">LugarDePresentacion</label>
					<input id="inputLugarDePresentacion" type="text" class="form-control" placeholder="LugarDePresentacion" ng-model="servicio.lugarDePresentacion" readonly />
				</div>

				<div class="form-group">
					<label for="inputContacto">Contacto</label>
					<input id="inputContacto" type="text" class="form-control" placeholder="Contacto" ng-model="servicio.contacto" readonly />
				</div>

				<div class="checkbox">
					<label for="inputInstanciaDeParte" >
						<input id="inputInstanciaDeParte" type="checkbox" ng-model="servicio.instanciaDeParte" readonly />
						¿Es instancia de parte?
					</label>
				</div>

				<div class="checkbox">
					<label for="inputAsignacionDirecta" >
						<input id="inputAsignacionDirecta" type="checkbox" ng-model="servicio.asignacionDirecta" readonly />
						¿Asignación directa?
					</label>
				</div>

				<div class="form-group">
					<button class="btn btn-danger" ng-click="delete($event)" ng-disabled="editForm.$invalid" >Delete</button>
					<button class="btn" ng-click="cancel($event)" >Cancel</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
