<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form class="form-vertical text-left" name="editForm">
			<h3 class="text-center">Editar recurso</h3>
			<fieldset ng-show="dataReceived">
				<div class="form-group">
					<label for="inputCodigo">Codigo</label>
					<input id="inputCodigo" type="text" class="form-control" placeholder="Codigo" ng-model="recurso.codigo" required autofocus />
				</div>
				<div class="form-group">
					<label for="inputDenominacion">Denominacion</label>
					<input id="inputDenominacion" type="text" class="form-control" placeholder="Denominacion" ng-model="recurso.denominacion" required />
				</div>
				<div class="checkbox">
					<label for="inputEsPublico" >
						<input id="inputEsPublico" type="checkbox" ng-model="recurso.esPublico" />
						EsPublico
					</label>
				</div>
				<div class="form-group">
					<label for="inputCodigoCalejero">CodigoCalejero</label>
					<input id="inputCodigoCalejero" type="text" class="form-control" placeholder="CodigoCalejero" ng-model="recurso.codigoCalejero" />
				</div>
				<div class="form-group">
					<label for="inputTipoVia">TipoVia</label>
					<select id="inputTipoVia" class="form-control"
								ng-model="recurso.tipoVia" 
							    ng-options="t.key as t.label for t in global.tipoVias"
							    required>
						</select>
				</div>
				<div class="form-group">
					<label for="inputNombreVia">NombreVia</label>
					<input id="inputNombreVia" type="text" class="form-control" placeholder="NombreVia" ng-model="recurso.nombreVia" required />
				</div>
				<div class="form-group">
					<label for="inputNumeroVia">NumeroVia</label>
					<input id="inputNumeroVia" type="number" class="form-control" placeholder="NumeroVia" ng-model="recurso.numeroVia" />
				</div>
				<div class="form-group">
					<label for="inputAccesorio">Accesorio</label>
					<input id="inputAccesorio" type="text" class="form-control" placeholder="Accesorio" ng-model="recurso.accesorio" />
				</div>
				<div class="form-group">
					<label for="inputBloque">Bloque</label>
					<input id="inputBloque" type="number" class="form-control" placeholder="Bloque" ng-model="recurso.bloque" />
				</div>
				<div class="form-group">
					<label for="inputEscalera">Escalera</label>
					<input id="inputEscalera" type="number" class="form-control" placeholder="Escalera" ng-model="recurso.escalera" />
				</div>
				<div class="form-group">
					<label for="inputPiso">Piso</label>
					<input id="inputPiso" type="number" class="form-control" placeholder="Piso" ng-model="recurso.piso" />
				</div>
				<div class="form-group">
					<label for="inputLetra">Letra</label>
					<input id="inputLetra" type="text" class="form-control" placeholder="Letra" ng-model="recurso.letra" />
				</div>
				<div class="form-group">
					<label for="inputCodigoPostal">CodigoPostal</label>
					<input id="inputCodigoPostal" type="text" class="form-control" placeholder="CodigoPostal" ng-model="recurso.codigoPostal" required />
				</div>
				<div class="form-group">
					<label for="inputLocalidadIne">LocalidadIne</label>
					<autocomplete attr-input-id="inputLocalidadIne"
						              ng-model="recurso.localidadIne" 
									  dataprovider="localidadDataProvider"
									  attr-class="width-autocomplete"
									  attr-input-class="form-control"
									  attr-placeholder="Localidad"
						              required 
						              ng-readonly="readOnly">
					</autocomplete>
				</div>
				<div class="form-group">
					<label for="inputMunicipioIne">MunicipioIne</label>
					<autocomplete attr-input-id="inputMunicipioIne"
						              ng-model="recurso.municipioIne" 
									  dataprovider="municipioDataProvider"
									  attr-class="width-autocomplete"
									  attr-input-class="form-control"
									  attr-placeholder="Municipio"
						              required 
						              ng-readonly="readOnly">
					</autocomplete>

				</div>
				<div class="form-group">
					<label for="inputProvinciaIne">ProvinciaIne</label>
					<select id="inputProvinciaIne" 
								class="form-control width-select"						
								ng-model="recurso.provinciaIne" 
							    ng-options="t.key as t.label for t in global.provincias"
							    required
							    ng-disabled="readOnly">
						</select>
				</div>
				<div class="form-group">
					<label for="inputTelefono1">Telefono1</label>
					<input id="inputTelefono1" type="text" class="form-control" placeholder="Telefono1" ng-model="recurso.telefono1" />
				</div>
				<div class="form-group">
					<label for="inputTelefono2">Telefono2</label>
					<input id="inputTelefono2" type="text" class="form-control" placeholder="Telefono2" ng-model="recurso.telefono2" />
				</div>
				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input id="inputEmail" type="text" class="form-control" placeholder="Email" ng-model="recurso.email" />
				</div>
				<div class="form-group">
					<label for="inputContacto">Contacto</label>
					<input id="inputContacto" type="text" class="form-control" placeholder="Contacto" ng-model="recurso.contacto" />
				</div>
				<div class="form-group">
					<label for="inputSector">Sector</label>
					<select id="inputSector" class="form-control"
								placeholder="Sector"
								ng-model="recurso.sector" 
							    ng-options="t.key as t.label for t in global.sectores">
					</select>
				</div>
				<div class="form-group">
					<label for="inputTipologia">Tipologia</label>
					<input id="inputTipologia" type="text" class="form-control" placeholder="Tipologia" ng-model="recurso.tipologia" />
				</div>
				<div class="form-group">
					<label for="inputCentroServicio">CentroServicio</label>
					<select id="inputCentroServicio" class="form-control"
								placeholder="Centro Servicio"
								ng-model="recurso.centroServicio" 
							    ng-options="t.key as t.label for t in global.centrosServicios">
					</select>
				</div>
				<div class="form-group">
					<label for="inputAmbitoGeografico">AmbitoGeografico</label>
					<select id="inputAmbitoGeografico" class="form-control"
								placeholder="Ambito Geográfico"
								ng-model="recurso.ambitoGeografico" 
							    ng-options="t.key as t.label for t in global.ambitosGeograficos">
					</select>
				</div>
				<div class="form-group">
					<label for="inputNumeroPlazas">NumeroPlazas</label>
					<input id="inputNumeroPlazas" type="number" class="form-control" placeholder="NumeroPlazas" ng-model="recurso.numeroPlazas" />
				</div>
				<div class="form-group">
					<label for="inputPlazasOcupadas">PlazasOcupadas</label>
					<input id="inputPlazasOcupadas" type="number" class="form-control" placeholder="PlazasOcupadas" ng-model="recurso.plazasOcupadas" />
				</div>
				<div class="form-group">
					<label for="inputPlazasDisponibles">PlazasDisponibles</label>
					<input id="inputPlazasDisponibles" type="number" class="form-control" placeholder="PlazasDisponibles" ng-model="recurso.plazasDisponibles" />
				</div>
				<div class="form-group">
					<label for="inputCosteDisponibilidad">CosteDisponibilidad</label>
					<input id="inputCosteDisponibilidad" type="number" class="form-control" placeholder="CosteDisponibilidad" ng-model="recurso.costeDisponibilidad" />
				</div>
				<div class="form-group">
					<label for="inputPlazasReservadas">PlazasReservadas</label>
					<input id="inputPlazasReservadas" type="number" class="form-control" placeholder="PlazasReservadas" ng-model="recurso.plazasReservadas" />
				</div>
				<div class="form-group">
					<label for="inputEntidadTitular">EntidadTitular</label>
					<input id="inputEntidadTitular" type="text" class="form-control" placeholder="EntidadTitular" ng-model="recurso.entidadTitular" />
				</div>
				<div class="form-group">
					<label for="inputEntidadGestora">EntidadGestora</label>
					<input id="inputEntidadGestora" type="text" class="form-control" placeholder="EntidadGestora" ng-model="recurso.entidadGestora" />
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="save($event)" ng-disabled="editForm.$invalid" >Save</button>
					<button class="btn" ng-click="cancel($event)" >Cancel</button>
				</div>
			</fieldset>
			<div ng-hide="dataReceived" class="loader"><img src="images/loader.gif" alt="Loading..." /></div>
		</form>

	</div>
	<div class="col-md-4"></div>
</div>
