<div class="row">
	<div class="col-md-2">
		<br/>
		<br/>
		<br/>
		<strong>Leyenda</strong>
		<ul>
			<li>Atención a domicilos por dependencia</li>
		</ul>

		<br/><br/>
		<br/><br/>
		<br/><br/>
		Volver al <a href="/#/informes">índice de informes.</a>

	</div>
	<div class="col-md-10">
		<h3>Informe geográfico</h3>

		<map zoom="14" 
			  center="[43.2580, -2.9303]" 
			  disable-default-u-i="false"
			  disable-double-click-zoom="false"
			  draggable="true"
			  draggable-cursor="help"
			  dragging-cursor="move"
			  keyboard-shortcuts="false"
			  max-zoom="18"
			  min-zoom="4"
			  tilt="45"
			  map-type-id="ROADMAP">
			  <kml-layer url="//data/Bilbao.kml"></kml-layer>
		</map>

		<br/>
		
	</div>
	
</div>
