<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h3>Informe</h3>
		<strong>			
			Ejemplo de informe
		</strong>
		<p>Del 1 de enero al 31 de diciembre de 2014</p>

		<div class="chart">
			<img src="/images/chart00.png"/>
		</div> 

		<p>Personas atendidas en el período: <span class="dataInforme">31</span><p>
		<p>Personas atendidas en el período anterior: <span class="dataInforme">27</span><p>
		<p>Incremento: <span class="dataInforme">15%</span><p>

		<br/>
		<br/>
		<p>Denuncias por cada 100.000 habiantes: <span class="dataInforme">3.9</span><p>

		<br/>
		<br/>
		Volver al <a href="/#/informes">índice de informes.</a>
		<br/>
	</div>
	<div class="col-md-3"></div>
</div>
