<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-1">
		<span class="glyphicon glyphicon-calendar cita"></span>
	</div>
	<div class="col-md-6">
		<h3>Cita concertada</h3>
		<p>Acaba de cursar una cita con el Servicio de Atencion Social para el proximo día <strong>{{citaDate | date:'EEEE'}}, {{citaDate | date:'d'}} de {{citaDate | date:'MMMM'}} de {{citaDate | date:'yyyy'}}
		</strong> a las <strong>10:15 H.</strong> Deberá personarse en el <strong>Centro de Atención Social</strong> de la <strong>Calle del Mar 23.</strong></p>
		<p>Su numero de referencia para esta cita es <strong>ANC345</strong>. En caso de que desee cambiar la cita de fecha puede hacerlo a traves del nº de telefono: <a href="tel:+34 900 158 256">900 158 256</a>.
		Gracias por usar el servicio de idoneidad de prestaciones.</p>
		<p><a href="#/publico">Volver</a></p>
	
	</div>
	<div class="col-md-3"></div>
</div>
